@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b1d1d;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1d1d;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -8px; /* This controls how low the underline appears */
  left: 0;
  background-color: theme('colors.primary');
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

@keyframes bloomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.bloom-animation {
  animation: bloomIn 1.5s ease-out forwards;
  opacity: 0; /* Start with opacity 0 */
}

.bloom-delay-1 {
  animation-delay: 0.5s;
}

.bloom-delay-2 {
  animation-delay: 1s;
}

/* Hide number input arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
